:root{
  --main_color:#0090f0;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_heading: #253237;
  --border_color: #d6d6d6d5;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white_color);
}
.top-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.top-header .logo {
    width: 160px;
}
.top-header .search-box {
    width: 500px;
    display: flex;
    align-items: center;
    background: var(--bg_color);
    border-radius: 30px;
    border: 1px solid var(--main_color);
}
.top-header .search-box input {
    height: 45px;
    width: 440px;
    padding: 5px 15px 5px 20px;
    background: var(--bg_color);
    border-radius:  30px 0 0 30px;
}
.top-header .search-box button {
    height: 45px;
    width: 60px;
    background: var(--main_color);
    font-size: 18px;
    cursor: pointer;
    border-radius: 0 30px 30px 0;
}
.top-header .search-box button svg {
    fill: var(--white_color);
}
.top-header .header-icons {
    display: flex;
    gap: 30px;
}
.top-header .header-icons .icon {
    position: relative;
    cursor: pointer;
}
.top-header .header-icons .icon  svg {
    font-size: 30px;
}
.top-header .header-icons .icon .count {
    position: absolute;
    top: -5px;
    right: -10px;
    background: var(--main_color);
    color: var(--white_color);
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 100%;
    font-size: 11px
}
.btm-header {
    background: var(--main_color);
}
.btm-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btm-header .nav {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 50px;
}
.btm-header .category-nav {
    width: 220px;
    height: 100%;
    position: relative;
}
.btm-header .category-nav .category-nav-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--white_color);
    border: 1px solid #999;
    border-top: 0;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
    clip-path: polygon(0 0, 100% 0, 100% 0 ,0 0);
    transition: 0.3s ease-in-out;
    z-index: 100;
}
.btm-header .category-nav .category-nav-list.active {
    clip-path: polygon(0 0, 100% 0, 100% 100% ,0 100%);
}
.btm-header .category-nav .category-nav-list a {
    padding: 14px 10px;
    border-bottom: 1px solid var(--border_color);
    font-size: 14px;

}
.btm-header .category-nav .category-nav-list a:last-child {
    border-bottom: 0;
}
.btm-header .category-nav .category-btn {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main_color);
    padding: 0 15px;
    cursor: pointer;
}
.btm-header .category-nav .category-btn svg {
    fill: var(--white_color);
}
.btm-header .category-nav .category-btn p {
    color: var(--white_color);
    font-size: 15px;
    font-weight: 600;
}
.btm-header .nav-links {
    display: flex;
    height: 100%;
}
.btm-header .nav-links li {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px;
}
.btm-header .nav-links li.active {
    background: #0079ca;
}
.btm-header .nav-links li a {
    color: var(--white_color);
}
.btm-header .sign-regs-icon {
    display: flex;
    gap: 20px;
}
.btm-header .sign-regs-icon svg {
    font-size: 22px;
    fill: var(--white_color);
}