:root {
    --main_color: #0090f0;
    --p_color: #7b7b7b;
    --bg_color: #f3f3f3;
    --white_color: #fff;
    --color_heading: #253237;
    --border_color: #d6d6d6d5;
}
.slide-product {
    padding: 50px 0;
}
.top-slide {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border_color);
    padding: 15px 20px 20px 0;
}
.top-slide::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100px;
    height: 2px;
    background: var(--main_color);
}
.top-slide h2 {
    font-size: 30px;
    color: var(--main_color);
    margin-bottom: 10px;
    text-transform: capitalize;
}
.product {
    width: 250px;
    background: var(--white_color);
    padding: 25px 15px;
    border: 1px solid var(--border_color);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}
.product:hover {
    border-color: var(--main_color);
    box-shadow: 10px 10px 15px #9494943e;
}
.product .img-product {
    position: relative;
    height: 180px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.product .img-product img {
    height: 160px;
    width: auto;
}
.product .name-product {
    margin-bottom: 10px;
    color: var(--color_heading);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
}
.product .stars svg {
    fill: #f8d941;
    font-size: 18px;
}
.product .price {
    font-weight: bold;
    font-size: 20px;
}
.product .icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    right: -50px;
    gap: 10px;
    transition: 0.3s ease-in-out;
}
.product:hover .icons {
    right: 20px;
}
.product .icons span {
    width: 40px;
    height: 40px;
    background: var(--bg_color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}
.product.in-cart .icons .btn-cart {
    background-color: var(--main_color);
    pointer-events: none;
}
.product.in-cart .icons .btn-cart svg {
    fill: var(--white_color);
}
.product .status_cart {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #253237;
}
.product.in-cart .status_cart { 
    top: 10px;
}
.product .status_cart  svg {
    color: greenyellow;
}
.Loading-Slide .top-slide {
    height: 105px;
}
.Loading-Slide .top-slide h2 {
    height: 35px;
    width: 250px;
}
.Loading-Slide .top-slide p {
    height: 25px;
    width: 350px;
}