:root {
    --main_color: #0090f0;
    --p_color: #7b7b7b;
    --bg_color: #f3f3f3;
    --white_color: #fff;
    --color_heading: #253237;
    --border_color: #d6d6d6d5;
}
.item-details {
    padding: 50px 0;
}
.item-details .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.item-details .img-item {
    width: 40%;
}
.item-details .img-item .big-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-details .img-item .big-img img {
    max-height: 350px;
    width: auto;
    margin: 20px;
}
.item-details .img-item .small-img {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.item-details .img-item .small-img img {
    width: 24%;
    
}
.item-details .details-item {
    width: 58%;
}
.item-details .details-item .name {
    margin-bottom: 30px;
    color: var(--main_color);
}
.item-details .details-item .stars {
    margin: 15px 0;
    display: flex;
    gap: 5px;
}
.item-details .details-item .stars svg {
    fill: #f8d941;
    font-size: 18px;
}
.item-details .details-item .price {
    font-size: 22px;
    margin: 20px 0;
}
.item-details .details-item h5 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 16px;

}
.item-details .details-item .desc {
    line-height: 1.5;
}
.item-details .details-item h2 {
    margin: 10px 0;
}
.item-details .details-item .btn {
    font-size: 18px;
    border-radius: 30px;
    padding: 10px 15px;
    border: 1px solid var(--main_color);
    transition: 0.3s ease-in-out;
}
.item-details .details-item .btn.in-cart {
    background: transparent;
    color: var(--main_color);
    pointer-events: none;
}
.item-details .details-item .icons {
    display: flex;
    gap: 10px;
    transition: 0.3s ease-in-out;
    margin: 20px 0;
}
.item-details .details-item .icons span {
    width: 40px;
    height: 40px;
    background: var(--bg_color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.item-details .details-item .icons span:hover {
    background: var(--main_color);
}
.item-details .details-item .icons svg:hover {
    fill: var(--white_color);
    transition: 0.3s ease-in-out;
}
.loading-item .item-details .img-item {
    height: 600px;
}
.loading-item .item-details .details-item {
    height: 600px;
    padding-top: 100px;
}
.loading-item .item-details .details-item  h5 {
    margin-bottom: 50px;
    height: 30px;
}
